@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Outfit, sans-serif;
  color: #efdbff;
  background: #160628;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body { margin: 0; }
button { cursor: pointer; }
.material-symbols-outlined { font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24; }
